2 in nums => {{ 2 in nums }}
5 not in nums => {{ 5 not in nums }}
role is string => {{ role is string }}
missing is undefined => {{ missing is undefined }}
chain compare 2 < 3 < 4 => {{ 2 < 3 < 4 }}
3 is odd => {{ 3 is odd }}
4 is even => {{ 4 is even }}
10 is divisibleby(5) => {{ 10 is divisibleby(5) }}
"abc" is lower => {{ "abc" is lower }}
"ABC" is upper => {{ "ABC" is upper }}
nums is sequence => {{ nums is sequence }}
cfg is mapping => {{ cfg is mapping }}
