{% extends "base.njk" %}
{% set greeting = "HELLO" %}
{% block title %}Home{% endblock %}
{% block body %}
<p>{{ greeting | lower }} {{ user.name }}</p>
<ul>
{% for item in items %}
  <li>{% if item.show %}{{ item.label | upper }}{% else %}hidden{% endif %}</li>
{% endfor %}
</ul>
{% endblock %}
